.thumbnail img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  padding: 6px;
  font-weight: bold;
  font-size: 16px;
}

.navbar,
.navbar-default {
  border-radius: 0px!important
}